{% extends 'base.html' %}

{% block meta %}
<title>Login</title>
{% endblock meta %}

{% block content %}

<style>
body {
        background-color: #272727;
        align-items: center;
        display: flex;
        justify-content: center;
        height: 100vh;
    }
    .login_user {
        border: 5px outset rgb(182, 182, 182);
        color:whitesmoke;
        background-color:#9b9b9b73;
        margin:auto;
        padding: 50px
    }
    .submittion {
        color:darkgray
    }
    .form-control {
        color:darkgray;
        text-align: center;
    }
    a:active, a:hover {
        color:red
    }
    a:visited, a:link {
        color: lightcoral
    }
</style>

<body>
    <div class = "login_user">

        <h1>Login</h1>
    
        <form method="POST" action="">
            {% csrf_token %}
            <table>
                <tr>
                    <td>Username: </td>
                    <td><input type="text" name="username" placeholder="Username" class="form-control"></td>
                </tr>
    
                <tr>
                    <td>Password: </td>
                    <td><input type="password" name="password" placeholder="Password" class="form-control"></td>
                </tr>
    
                <tr>
                    <td></td>
                    <td><input class="submittion" type="submit" value="Login"></td>
                </tr>
            </table>
        </form>
    
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    
        Don't have an account? <a href="{% url 'todolist:register' %}">Create Account</a>
    
    </div>
    
    {% endblock content %}
</body>